@charset "UTF-8";

/* https://colorhunt.co/palette/2a2f4f917fb3e5beecfde2f3 */
:root{
    /* テーマ */
    --theme-color1: #b7abcf;
    --theme-color1-light: #E5BEEC;
    --theme-color1-op: #917fb3c9;
    --theme-color1-dark: #665a7c;
    --theme-color2: #FDE2F3;
    /* 色 */
    --transparent: rgb(0,0,0,0);
    --white: rgba(228, 228, 228, 1.0);
    --white-op:rgb(228, 228, 228, 0.5);
    --gray: rgb(127.5, 127.5, 127.5, 1.0);
    --gray-op: rgb(127.5, 127.5, 127.5, 0.5);
    --dark: rgb(76.5, 76.5, 76.5, 1.0);
    --dark-op: rgb(76.5, 76.5, 76.5, 0.5);
    --more-dark: rgb(51, 51, 51, 1.0);
    --more-dark-op: rgb(51, 51, 51, 0.5);
    /* フォームホバー */
    --form-hover-color: var(--theme-color1);
    --form-hover-bg: var(--bg-color);
    --form-hover-border: var(--theme-color1);
    /* フォントサイズ */
    --font-size: 1.6rem;
}

:root[theme="light"] {
    --mode: '\e518';
    --theme-color1: #917FB3;
    --theme-color2: #313cd8;
    --text-color: var(--more-dark);
    --bg-color: var(--white);
    --bg-reverse-color: var(--more-dark);
    --bg-reverse-color-op: var(--more-dark-op);
    --caption-bg: rgb(190, 190, 190);
    --scroll-bar: rgb(200, 200, 200);
    --scroll-bg: rgb(170, 170, 170);
    --form-color: var(--white);
    --form-bg: var(--dark);
    --hr1: rgb(100, 100, 100);
    --hr2: rgb(51, 51, 51, 0.35);
    --hr3: rgb(51, 51, 51, 0.15);
}

:root[theme="dark"] {
    --mode: '\e51c';
    --text-color: var(--white);
    --bg-color: var(--more-dark);
    --bg-reverse-color: var(--white);
    --bg-reverse-color-op: var(--white-op);
    --caption-bg: var(--dark);
    --scroll-bar: var(--gray);
    --scroll-bg: var(--dark);
    --form-color: var(--dark);
    --form-bg: var(--white);
    --hr1: rgb(191, 191, 191);
    --hr2: rgb(228, 228, 228, 0.35);
    --hr3: rgb(228, 228, 228, 0.15);
}

/*
    h1
    font-family: 'Caveat', cursive; 
    font-weight: 500;

    h2~h4
    font-family: 'Zen Old Mincho', serif;
    font-weight: 400;
    font-weight: 700;

    本文
    font-family: 'Klee One', cursive;
    font-weight: 400;
    font-weight: 600;

    本文２
    font-family: 'Shippori Mincho', serif;
    font-weight: 400;
    font-weight: 700;

    本文３
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    font-weight: 700;

*/

/* ==== リセット ==== */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:focus{
  outline: none;
}

a {
  text-decoration: none;
}

a, a::after, a::before, button, button::after, button::before, input, textarea, select, label:has(input){
  transition: all 0.3s;
}

a, a::after, a::before, button, button::after, button::before, 
input:not([type="text"]), label:has(input[type="checkbox"]),label:has(input[type="radio"]),select{
  cursor: pointer;
  cursor: hand;
}

button,input {
    border: none;
    border: 0;
}

button{
    background: transparent;
    outline: none;
}

input, textarea {
  box-shadow: none;
  -webkit-appearance: none;
}

input[type="text"],textarea{
  cursor: auto;
}

dl, ul,ol, form {
    margin: 0;
    word-break: break-all;
}

p{
    margin: 25px 0;
    word-break: break-all;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  p:last-child{
    margin-bottom: 0;
  }
}

/* ==== レイアウト ==== */
body,button,input,textarea,select {
  font-family: 'Klee One','Shippori Mincho',serif;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + 1.05rem);
  color:var(--text-color);
  background: var(--bg-color);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

body::before,body::after{
    mask-image: url('../img/magic_circle.png');
    mask-size: contain;
    -webkit-mask-image: url('../img/magic_circle.png');
    -webkit-mask-size: contain;
    background-blend-mode: multiply;
    background-color: var(--theme-color1);
    opacity: 0.2;
    content: '';
    width: 700px;
    aspect-ratio: 1 / 1;
    position: fixed;
    z-index: -1;
}

body::before{
    top: calc(700px * -0.5);
    left: calc(700px * -0.5);
}

body::after{
    bottom: calc(700px * -0.5);
    right: calc(700px * -0.5);
}

a {
    color: var(--theme-color2);
}

img{
    width: 100%;
    max-width: 35vw;
    vertical-align:top;
}

/* スクロールバー */
::-webkit-scrollbar {
	width: 1rem;
}

/* スクロールバーの軌道 */
::-webkit-scrollbar-track {
	background: var(--scroll-bg);
}

/* スクロールバーの動く部分 */
::-webkit-scrollbar-thumb {
	background: var(--scroll-bar);
}

/* アイコン */
#toggleMenu::after,.close::after,
a[target="_blank"]::before,
button.prev::after,button.next::after,
.fixed-menu a::before,
.fixed-menu button::before,
.fixed-menu span::before,
.user::before,.log::before,
.create-day::before,.update-day::before,
.post-day::before,.draft::before {
  font-family: 'Material Icons';
}

button.prev::after{
    content: '\e2ea';
}

button.next::after{
    content: '\e5e1';
}

.user::before{
    content: '\e7fd';
}

.log::before{
    content: '\e889';
    padding-right: 0.2rem;
}

.create-day::before{
    content: '\e3c9';
}

.update-day::before{
    content: '\e923';
}

.post-day::before{
    content: '\e255';
}

.draft::before{
    content: '\e745';
}

.create-day,.update-day,.post-day{
    position: relative;
    padding-left: var(--font-size);
}

.create-day::before,.update-day::before,.post-day::before{
    font-size: var(--font-size);
    position: absolute;
    left: 0;
}

.update-day:empty,.post-day:empty{
    display: none;
}

/* ==== ボタン・入力 ==== */
input,textarea,a.btn,label:has(input){
    border: 1px solid var(--dark);
}

a.btn,label:has(input){
    padding: 0 0.8rem;
}

label:has(input){
    color: var(--gray);
}

input,textarea{
    cursor: auto;
    border-color: var(--gray);
}

textarea{
    height: calc(calc(var(--font-size) + 1.05rem) * 10);
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input[type="text"],textarea{
    width: 100%;
}

button,input[type="button"],input[type="submit"],
label:has(input):hover,label:has(input:checked),a.btn{
    color: var(--form-color);
    background: var(--form-bg);
    border: 1px solid var(--bg-color);
}

button:hover,input[type="button"]:hover,input[type="submit"]:hover,button:disabled{
    color: var(--form-hover-color);
    background: var(--form-hover-bg);
}

button:hover,input:hover,input:focus,select:hover,
textarea:hover,textarea:focus,button:disabled {
    border-color:var(--form-hover-border);
}

/* 必須 */
.required::after{
    content: '*';
    color: var(--theme-color1);
}

a:hover {
    opacity: 0.5;
}

a[target="_blank"]{
    position: relative;
}

a[target="_blank"]::before{
    content: '\e157';
    display: inline-block;
    transform: rotate(-45deg);
}

/* 見出し */
h1 {
    font: 500 80px/120% 'Caveat', serif;
    text-align: center;
    color: var(--theme-color1);
    font-size: 50px;
    text-shadow: 1px 1px 0px var(--theme-color1-dark);
}

h1 a {
    color: var(--theme-color1);
}

h1 a:hover {
    opacity: 1;
}

html[theme="light"] h1 a:hover {
    filter: drop-shadow(0 0 10px var(--theme-color1-dark));
}

html[theme="dark"] h1 a:hover {
    filter: drop-shadow(0 0 10px var(--theme-color1-light));
}

h2,h3,h4,h5,h6 {
    font-family: 'Zen Old Mincho', serif;
    color: var(--theme-color1);
    display: block;
}

h2 {
    font-size: 3rem;
    line-height: calc(3rem + 1.05rem);
    text-align: center;
    margin: 50px auto;
}

h2 span {
    position: relative;
    display: inline-block;
    padding: 0 55px;
}

h2 span::before,h2 span::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 5rem;
    height: 1px;
    border-radius: 3px;
    background: var(--gray);
}

h2 span::before {
    left: calc(var(--font-size) * -1);
}

h2 span::after {
    right: calc(var(--font-size) * -1);
}

h3,h4 {
    font-size: 2rem;
    line-height: calc(2rem + 1.05rem);
}

h3 {
    margin: 4rem 0;
}

h3 span {
    display: inline-block;
    position: relative;
}

h3 span::before {
    content: '';
    position: absolute;
    bottom: -5px;
    display: inline-block;
    width: 100%;
    min-width: var(--font-size);
    height: 2px;
    background: var(--gray);
    border-radius: 2px;
}

h4,h5,h6 {
    font-weight: bold;
}

h4 {
    margin: var(--font-size) 0;
}

h5,h6 {
    font-size: var(--font-size);
    line-height: calc(var(--font-size) + 1.05rem);
    margin: 0;
}

h6 {
    color: var(--text-color);
}

/* 装飾 */
b,em,strong {
    font-weight: bold;
}

em {
    font-style: normal;
    background:  linear-gradient(180deg, transparent 70%, var(--gray) 70%);
}

strong {
    color: var(--theme-color1-light);
    background: var(--gray);
}

hr {
    border: 0;
    margin: var(--font-size) auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    overflow: visible;
    height: 6px;
    background:  radial-gradient(closest-side,var(--gray),var(--transparent) 100%);
    position: relative;
}

hr::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: var(--hr1);
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 4px 0;
    border: 4px solid var(--hr2);
    background-clip: padding-box;
    box-shadow: -10px 10px 0 var(--hr3), 10px -10px 0 var(--hr3);
}

/* リスト */
ul,ol {
    padding-left: calc(var(--font-size)*2);
}

ul.inline{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

ul.inline li::after{
    content: '/';
    padding: 0 0.4rem;
}

ul.inline li:last-child::after{
    content: '';
}

dl dt,dl dd,
dl.inline dt, dl.inline dd {
    margin: 0 0 0.8rem;
}

dl dd, dl.inline dt, dl.inline dd {
    border-bottom: 1px solid var(--hr3);
}

dl dd, dl.inline dd {
    padding: 0 0 0.8rem calc(var(--font-size) * 3);
}

dl dd:last-of-type,
dl.inline dt:last-of-type,dl.inline dd:last-of-type,
form dl dd,form dl.inline dt,form dl.inline dd{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

dl.inline{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

dl.inline dt{
    width: calc(var(--font-size) * 10);
}

dl.inline dd{
    width: calc(100% - calc(var(--font-size) * 10));
}

/* ヘッダー */
header {
    margin: 50px auto;
    z-index: 5;
}

#toggleMenu{
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a{
    color: var(--theme-color1);
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0 var(--font-size);
}

.menu a{
    color: var(--theme-color1);
}

.menu.scroll{
    position: fixed;
    top: calc(var(--font-size) * -2);
    right: 0;
    transition: 0.3s;
}

.menu.scroll.view{
    top: var(--font-size);
}

/* メイン */
main {
    width: 90%;
    max-width: 900px;
    margin: 0 auto auto;
}

body#INDEX main{
    margin: auto;
}

article{
    margin: 100px auto;
}

article:first-child{
    margin-top: 0;
}

article:last-child{
    padding-bottom: 50px;
}

section{
    margin: 60px auto;
}

/* フッター */
footer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: calc(var(--font-size) * 3);
}

footer p{
    text-align: end;
    margin-bottom: 0;
    padding: 0 var(--font-size);
}

.fixed-menu {
    position: fixed;
    bottom: calc(var(--font-size) + 1.05rem);
    width: 100%;
    z-index: 1;
}

.fixed-menu ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.fixed-menu a,.fixed-menu button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 25px;
}

.fixed-menu a::before,
.fixed-menu button::before,
.fixed-menu span::before {
  position: absolute;
}

.fixed-menu li.pagetop button::before{
    content:'\eacf';
}

.fixed-menu li.mode button::before{
    content: var(--mode);
}

@media only screen and (max-width: 1024px) {
    dl.inline{
        display: block;
    }

    dl.inline dt,dl.inline dd{
        width: 100%;
    }

    dl.inline dt{
        padding: 0;
        border: none;
    }

    .menu{
        transition: 0.3s;
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.3s;
        z-index: 9999;
    }

    .menu a{
        color: var(--bg-reverse-color);
    }

    .menu ul{
        display: block;
        background: var(--theme-color1-op);
        height: 100%;
        width: 50%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: -50%;
        transition: 0.3s;
    }

    .menu.open{
        width: 100%;
        height: 100%;
        background: var(--bg-reverse-color-op);
    }

    .menu.open ul{
        right: 0;
    }

    #toggleMenu{
        display: block;
        width: 40px;
        height: 40px;
        position: fixed;
        color: var(--theme-color1);
        top: var(--font-size);
        right: var(--font-size);
        transition: 0.3s;
        background: none;
        border: none;
        z-index: 10000;
    }

    #toggleMenu::after{
        font-size: 40px;
        content: '\e5d2';
        position: absolute;
        top: 5px;
        right: 0;
    }

    #toggleMenu.close::after{
        content: '\e5cd';
        color: var(--bg-reverse-color);
    }
    
    footer p{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 800px) {
    body::before,body::after{
        width: 350px;
    }

    body::before{
        top: calc(350px * -0.5);
        left: calc(350px * -0.5);
    }
    
    body::after{
        bottom: calc(350px * -0.5);
        right: calc(350px * -0.5);
    }

}

/* === ログイン === */
#loginResult{
    display: none;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border: 1px solid transparent;
}

#loginPass{
    width: calc(var(--font-size) * 15);
}

#loginResult.error{
    display: block;
    border-color: #de9a9a;
    background: rgba(222, 154, 154, 0.25);
}

#loginResult.error::after{
    content: 'パスワードが違います';
}

/* === 列配置 === */
.column{
    display: flex;
    flex-wrap: wrap;
}

.column img{
    width: 100%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 1 / 1;
}

.column > *{
    margin: 5px;
}

.column-2 > *{
    width: calc(100% / 2 - 10px);
}

.column-3 > *{
    width: calc(100% / 3 - 10px);
}

.column-4 > *{
    width: calc(100% / 4 - 10px);
}

/* === サムネイル === */
.sess-thumbnail,.ill-thumbnail,.novel-thumbnail{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.sess-thumbnail > div,.ill-thumbnail > *,.novel-thumbnail > *{
    margin: 5px;
}

.sess-thumbnail > div{
    width: calc(100% / 2 - 10px);
    display: flex;
}

.ill-thumbnail a,.novel-cover a{
    display: block;
    position: relative;
}

.ill-thumbnail a img,.novel-cover a img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.user{
    display: flex;
    line-height: calc(1.6rem + 1.05rem);
}

.user::before{
    font-size: 2rem;
    margin-right: 0.5rem;
}

ul.hashtag{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

ul.hashtag:empty{
    display: none;
}

ul.hashtag li{
    margin-right: var(--font-size);
}

ul.hashtag li:not(:has(a))::before,ul.hashtag li a::before{
    content: '#';
}

/* 卓予定サムネイル */
.sess-date{
    display: block;
    width: 30%;
    margin-right: 10px;
    color: var(--more-dark);
    background: linear-gradient(-45deg, var(--gray) 0%, var(--gray) 60%, var(--white) 60%, var(--white) 100%);
    border-radius: 10px;
    position: relative;
}

.sess-date.saturday{
    background: linear-gradient(-45deg, #94bbe9 0%, #94bbe9 60%, var(--white) 60%, var(--white) 100%);
}

.sess-date.holiday{
    background: linear-gradient(-45deg, #f79c9c 0%, #f79c9c 60%, var(--white) 60%, var(--white) 100%);
}

.sess-date .month,.sess-date .date,.sess-date .week,.sess-time{
    position: absolute;
}

.sess-date .month,.sess-date .date{
    font-family: 'Caveat', serif;
    font-size: 8rem;
}

.sess-date .month{
    top: var(--font-size);
    left: 0;
}

.sess-date .date{
    bottom: calc(2rem * 2.5);
    right: calc(2rem * 1);
}

.sess-date .week{
    font-size: 10rem;
    opacity: 0.2;
    bottom: 30%;
    right: 0;
}

.sess-time{
    bottom: 0;
    right: 0.5rem;
}

.sess-time .start{
    font-size: 2rem;
    font-weight: bold;
}

.sess-time .start::after{
    content:'～';
    font-size: var(--font-size);
}

/* .sess-time .end{} */

.sess-data{
    width: 70%;
}

.sess-data h4{
    margin: 0;
}

.sess-thumbnail ul.member{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.sess-thumbnail ul.member li{
    position: relative;
}

.sess-thumbnail ul.member li::after{
    content: '/';
    padding: 0 0.5rem;
}

.sess-thumbnail ul.member li:last-child::after{
    content: '';
}

ul.member li.gm::before,ul.member li.kp::before,ul.member li.sgm::before,ul.member li.skp::before{
    padding: 0 0.5rem;
}

ul.member li.gm::before,ul.member li.kp::before{
    color: var(--white);
    background: var(--dark);
}

ul.member li.gm::before{
    content: 'GM';
}

ul.member li.kp::before{
    content: 'KP';
}

ul.member li.sgm::before,ul.member li.skp::before{
    color: var(--white);
    background: var(--gray);
}

ul.member li.sgm::before{
    content: 'SGM';
}

ul.member li.skp::before{
    content: 'SKP';
}

.sess-thumbnail p.caption{
    margin: 0;
    font-size: 1.4rem;
    line-height: calc(1.4rem + 0.5rem);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
}

/* イラストサムネイル */
.center .ill-thumbnail,.ill-thumbnail.center{
    justify-content: center;
}

.right .ill-thumbnail,.ill-thumbnail.right{
    justify-content: right;
}

.ill-thumbnail > * {
    width: calc(100% / 5 - 10px);
    line-height: 0;
}

.ill-thumbnail img,.ill-thumbnail a img{
    aspect-ratio: 1 / 1;
}

.ill-thumbnail a span,.novel-cover a span{
    width: 100%;
    position: absolute;
    background: var(--theme-color1-op);
    color: var(--white);
}

.ill-thumbnail a span{
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ill-thumbnail.mini > *{
    width: calc(100% / 8 - 10px);
}

/* 小説サムネイル */
.novel-thumbnail .novel{
    width: calc(100% / 2 - 10px);
    display: block;
}

.novel-thumbnail .novel > div{
    display: flex;
    width: 100%;
}

.novel-thumbnail .novel > form{
    text-align: center;
}

.novel-thumbnail .novel > form > *{
    width: calc(100%/3 - 14px);
}

.novel-cover a img{
    aspect-ratio: 74 / 105;
}

.novel-cover a span{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.novel-thumbnail .novel-cover{
    width: 40%;
}

.novel-thumbnail .caption{
    width: 60%;
    margin-left: 5px;
}

.novel-thumbnail .caption h4{
    display: none;
}

.novel-thumbnail .caption p{
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.novel-thumbnail .caption p:empty{
    display: none;
}

.novel-thumbnail .novel:has(form){
    margin-bottom: calc(var(--font-size)*2);
}

.private .novel-cover{
    position: relative;
}

.private .novel-cover::after{
    content: '非公開';
    position: absolute;
    top: 0;
    background: var(--bg-color);
}


/* === セッションページ === */
.scenario ul.author{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 0;
}

.scenario ul.author::before{
    mask-image: url('../img/icon.png');
    mask-size: contain;
    -webkit-mask-image: url('../img/icon.png');
    -webkit-mask-size: contain;
    background-color: var(--bg-reverse-color);
    content: '';
    width: calc(var(--font-size) * 2);
    height: calc(var(--font-size) * 2);
}

.scenario ul.author li:not(:last-child)::after{
    content: '&';
    padding: 0 0.8rem;
}

div:has(.youtube){
    display: flex;
}

.youtube{
    width: calc(100% / 2 - 4px);
    flex-wrap: wrap;
    margin: 2px;
    aspect-ratio: 16 / 9;
}

/* === 小説ページ === */
body#NOVEL header h1{
    margin: 0 auto;
}

#novel-header{
    margin: calc(var(--font-size) * 3) 0;
}

.novel-caption,.afterword {
    width: 100%;
    flex-wrap: wrap;
    background: var(--caption-bg);
}

.novel-caption {
    display: flex;
}

.novel-caption .novel-cover{
    width: 15%;
    display: block;
    line-height: 0;
}

.novel-caption .novel-cover a img{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.novel-caption .novel-cover a span{
    display: none;
}

.novel-caption .caption{
    width: calc(85% - var(--font-size));
    margin-left: var(--font-size);
    position: relative;
}

.novel-caption .caption h4{
    display: none;
}

#novel-body div::before{
    content: '';
    height: 7rem;
    display: block;
}

#novel-body div:not(.current){
    display: none;
}

.page-tab{
    display: block;
    text-align: center;
    margin-top: calc(var(--font-size) * 3);
}

#novel-body:has(div:only-child) + #novel-footer .page-tab{
    display: none;
}

.page-tab button{
    color: var(--text-color);
    background: var(--bg-color);
}

.page-tab button.prev:has(+ .current),.page-tab button.prev:has(+ .next),
.page-tab button.prev + .next,.page-tab button.current + .next{
    opacity: 0;
    pointer-events: none;
}

.page-tab button.current{
    pointer-events: none;
    color: var(--form-color);
    background: var(--form-bg);
}

.afterword{
    margin: 3.2rem 0;
}

.afterword .caption{
    padding: var(--font-size);
    position: relative;
}

.afterword .caption h4{
    margin: 0;
}

.caption p{
    margin: calc(var(--font-size) / 2) 0;
}

/* === イラスト === */
.illust-caption{
    width: 100%;
    padding: var(--font-size);
    background: var(--caption-bg);
}

.illust-original-size{
    display: block;
    text-align: center;
}

.illust-original-size img{
    display: block;
    max-height: 700px;
    width: auto;
    max-width: 100%;
    margin: var(--font-size) auto;
}

/* 各ページ汎用 */
.post-data {
    color: var(--gray);
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: var(--font-size);
}

.post-data > *{
    font-size: small;
}

.novel-caption .caption .post-data,.afterword .caption .post-data{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* カレンダー */
table.calendar{
    border-spacing: 0;
}

.calendar th{
    background: var(--gray);
}

.calendar th,.calendar td{
    padding: 0 0.5rem;
}

.calendar th:first-child , .calendar td:first-child{
    background: #f79c9c88;
}

.calendar th:last-child , .calendar td:last-child{
    background: #94bce98c;
}

/* === ユーザー設定 === */
body#USER_SETTING input[type='text']{
    width: calc(var(--font-size) * 15);
}

#pswd-status{
    display: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: calc(var(--font-size)*18);
    border: 1px solid transparent;
    text-align: center;
}

#pswd-status.init,#novel-status.error{
    display: block;
    border-color: #de9a9a;
    background: rgba(222, 154, 154, 0.25);
}

#pswd-status.init::after{
    content: 'パスワードが初期状態です\A変更をおすすめします';
    white-space: pre;
}

#pswd-status.change{
    display: block;
    border: 1px solid #9ac5de;
    background: rgba(154, 209, 222, 0.25);
}

#pswd-status.change::after{
    content: 'パスワードを変更しました';
}

#novel-status{
    display: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid transparent;
    text-align: center;
}

#novel-status.error::after{
    content: 'エラーが発生しました';
}

#novel-status.public,#novel-status.private,#novel-status.delete{
    display: block;
    border: 1px solid #9ac5de;
    background: rgba(154, 209, 222, 0.25);
}

#novel-status.public::after{
    content: '公開しました';
}

#novel-status.private::after{
    content: '非公開に変更しました';
}

#novel-status.delete::after{
    content: '削除しました';
}

/* === 汎用 === */
br.br-sp{ display: none; }

.block{
    width: 100%;
    display: block;
    text-align: center;
}

.border{
    border: 1px solid var(--theme-color1); 
    padding: var(--font-size);
}
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.bold { font-weight: bold; }
.small { font-size: smaller; }
.large{ font-size: larger; }

.margin-3{ 
    margin-top: calc(var(--font-size) * 3);
    margin-bottom: calc(var(--font-size) * 3);
}
.margin-5{ 
    margin-top: calc(var(--font-size) * 5);
    margin-bottom: calc(var(--font-size) * 5);
}
.margin-7{
    margin-top: calc(var(--font-size) * 7);
    margin-bottom: calc(var(--font-size) * 7);
}
.margin-top-3{ margin-top: calc(var(--font-size) * 3); }
.margin-top-5{ margin-top: calc(var(--font-size) * 5); }
.margin-top-7{ margin-top: calc(var(--font-size) * 7); }
.margin-bottom-3{ margin-bottom: calc(var(--font-size) * 3); }
.margin-bottom-5{ margin-bottom: calc(var(--font-size) * 5); }
.margin-bottom-7{ margin-bottom: calc(var(--font-size) * 7); }
.opacity { opacity: 0.5; }
.blur { filter: blur(10px); }

/* サイト名 */
.sitename-before::before,.sitename-after::after{
    content:'Imaginarium of the Table'; 
}

/* フォント種類 */
.sitename-font{ font-family: 'Caveat', serif; }
.gothic { font-family: 'Zen Kaku Gothic New', sans-serif;}

/* spotlight */
#spotlight{
    background-color: #000000af !important;
}

/* ==== スマホ ==== */
@media only screen and (max-width: 1024px) {
    article:last-child{
        padding-bottom: 50px;
    }

    .column-sp-2 > *{
        width: calc(100% / 2 - 10px);
    }
    
    .column-sp-3 > *{
        width: calc(100% / 3 - 10px);
    }

    .column-sp-4 > *{
        width: calc(100% / 4 - 10px);
    }

    /* === サムネイル === */
    .sess-thumbnail,.novel-thumbnail{
        display: block;
    }

    .sess-thumbnail > div,.novel-thumbnail .novel{
        width: 100%;
        margin: 10px 0;
    }

    /* セッション */
    .sess-date .week{
        font-size: 7rem;
        bottom: 15%;
    }

    .sess-time{
        display: flex;
    }

    .sess-time .start{
        font-size: var(--font-size);
    }

    .sess-time .end{
        display: none;
    }

    .sess-thumbnail ul.member li{
        width: calc(100% / 2);
    }

    .sess-thumbnail ul.member li::after{
        content: '';
    }

    /* イラスト */
    .ill-thumbnail > *,.ill-thumbnail.mini > *{
        width: calc(100% / 3 - 2px);
        margin: 1px;
    }

    .center-sp .ill-thumbnail,.ill-thumbnail.center-sp{
        justify-content: center;
    }
    
    .right-sp .ill-thumbnail,.ill-thumbnail.right-sp{
        justify-content: right;
    }

    .ill-thumbnail .user{
        display: none;
    }

    /* 小説 */
    .novel-cover a span{
        display: none;
    }

    .novel-thumbnail .novel-cover{
        width: 20%;
    }

    .novel-thumbnail .caption{
        width: 80%;
    }

    .novel-thumbnail .caption h4{
        display: block;
        margin: 0;
    }

    .novel-thumbnail .caption h4 a{
        margin: 0;
        color: var(--theme-color1);
    }

    .novel-thumbnail .caption p{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    /* === 各ページ === */
    body#SESSION header h1,body#novel header h1{
        display: none;
    }

    /* === セッションページ === */
    div:has(.youtube){
        display: block;
    }
    
    .youtube{
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    /* === 小説ページ === */
    .novel-caption .novel-cover{
        display: none;
    }

    .novel-caption .caption{
        width: 100%;
    }

    .novel-caption .caption p{
        margin: 0.5rem;
    }

    /* === イラストページ === */
    .illust-original-size img{
        height: auto;
        max-height: unset;
    }

    /* === 汎用 === */
    br.br-sp{
        display: block;
    }

    .left-sp { text-align: left; }
    .center-sp { text-align: center; }
    .right-sp { text-align: right; }
}